<template>
  <div class="container">
    <header>
      <h1>Rendom Number Generator</h1>
      <h2>Enter Two Number And Generate Number</h2>
    </header>
    <main>
      <div>
        <input type="number" name="min" id="min" v-model="min" />
        <input type="number" name="max" id="max" v-model="max" />
      </div>
      <button v-on:click="compute()">Generate</button>
      <h3>Generated Number : {{ result }}</h3>
    </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      min: "",
      max: "",
      result: "",
    };
  },
  methods: {
    compute() {
      this.result =
        Math.floor(
          Math.random() * (parseInt(this.max) - parseInt(this.min) + 1)
        ) + parseInt(this.min);
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
header {
  width: 50%;
  height: 200px;
  background: greenyellow;
  margin: 0 0 0 25%;
}
main {
  width: 50%;
  height: 250px;
  background: green;
  margin: 5% 0 0 25%;
}
main div {
  padding: 2% 0 0 0;
  display: flex;
  justify-content: space-around;
}
input,
button {
  width: 40%;
  appearance: none;
  outline: none;
  border: none;
  height: 40px;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 20px;
}
button {
  padding: 0%;
  background: rgb(155, 255, 198);
  margin: 5% 0 2% 0;
  cursor: pointer;
}
h3 {
  color: aliceblue;
  font-size: 2rem;
}
@media screen and (max-width: 700px) {
  header,
  main {
    width: 70%;
    margin: 10% 0 0 10%;
  }
  .container {
    font-size: 90%;
  }
  main div {
    padding: 2% 0 0 0;
    display: grid;
    justify-content: space-around;
  }
  input,
  button {
    font-size: 1rem;
    margin: 2% 0 2% 0;
    width: 90%;
    height: 35px;
    padding: 5px;
  }
}
h3 {
  font-size: 1.5rem;
}
</style>
